.login-screen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 77, 83);

    .login-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 20px;
        width: 500px;
    }
}